p.standardTitle
{font: normal 18px/20px Arial, Helvetica, sans-serif; color: #000; text-align:left; margin: 0; padding: 10px 15px 10px 15px;}

	p.standardTitle span
	{color: #FFB504;}
	
	div.dynamicContent p,
	div.dynamicContent h1,
	div.dynamicContent h2,
	div.dynamicContent h3,
	div.dynamicContent h4,
	div.dynamicContent h5,
	div.dynamicContent h6
	{color:#FFB504;}

/* COUPON > COLOR > NAVBAR
/////////////////////////////////////////////////////*/

	div.wrapper ul.navbar
	{border-bottom: 1px solid #FFB504;}

		div.wrapper ul.navbar li a:hover,
		div.wrapper ul.navbar li a.menuActived:link,
		div.wrapper ul.navbar li a.menuActived:active,
		div.wrapper ul.navbar li a.menuActived:visited,
		div.wrapper ul.navbar li a.menuActived:hover
		{color: #000; background: #FFF url("../images/design/bg_navbar_couponOn.gif") 0 100% repeat-x;}

/* COUPON > STRUCTURE > LEFT CONTENT > SEARCH TABS
/////////////////////////////////////////////////////*/

					ul.searchTab li a:link,
					ul.searchTab li a:active,
					ul.searchTab li a:visited,
					ul.searchTab li a:hover
					{background: #FFEFCA; border-left: 5px solid #FFE29F; border: 0;}

						ul.searchTab li.tab-active a,
						ul.searchTab li.tab-active a:link,
						ul.searchTab li.tab-active a:visited,
						ul.searchTab li.tab-active a:active,
						ul.searchTab li.tab-active a:hover
						{color: #553C00; background: #FFE29F; border: 1px solid #FFBF2B; border-bottom: 0;}
						
						ul.searchTab li.tab-inactive a,
						ul.searchTab li.tab-inactive a:link,
						ul.searchTab li.tab-inactive a:visited,
						ul.searchTab li.tab-inactive a:active,
						ul.searchTab li.tab-inactive a:hover
						{color: #FFBF2B; border-bottom:1px solid #FFBF2B}

							ul.searchTab li.tab-inactive a:hover
							{color: #553C00;}

/* COUPON > STRUCTURE > LEFT CONTENT > SEARCH CONTENT
/////////////////////////////////////////////////////*/

				div.wrapper div.content blockquote.leftContent p.standardTitle span
				{color: #FFB504;}
			
			div.simpleSearch
			{color: #553C00; background: #FFE29F; border: 1px solid #FFBF2B; border-top: 0;}
			
					div.simpleSearch label
					{color: #553C00;}
	
					div.simpleSearch input,
					div.simpleSearch select
					{ color: #553C00; background: #FFF9EA; border: 1px solid #FFBF2B; border-right-color: #FFF; border-bottom-color: #FFF;}
					
					div.simpleSearch input:focus
					{ background: #FFF;}
			
/* COUPON > STRUCTURE > LEFT CONTENT > SEARCH DIFFERENCES
/////////////////////////////////////////////////////*/
				
				div.simpleSearch ul.standardButton li input,
				div.simpleSearch ul.standardButton li button,
				div.simpleSearch ul.standardButton li a:link,
				div.simpleSearch ul.standardButton li a:active,
				div.simpleSearch ul.standardButton li a:visited,
				div.simpleSearch ul.standardButton li a:hover
				{color: #F2FAEB; background: #6F4E00 url("../images/design/bg_couponButton.gif") 0 0 repeat-x;}
				
					div.simpleSearch select option.searchCategory
					{background: #FFF3D5;}

					div.simpleSearch select option.searchSubcategory
					{color: #AA7B00; background: #FFFCF4;}

/* LISTING/COUPON > PROMOTION POP-UP
/////////////////////////////////////////////////////*/

div.baseCoupon
{border: 10px solid #253E57;}

div.baseCoupon h1
{border-left-color: #FFB504}

	div.baseCoupon img
	{border: 5px solid #FFE29F;}
	
		div.baseCoupon h2 span
		{font: normal 10px Verdana, Arial, Helvetica, sans-serif; color: #6F4E00; display: block;}
	
/* LISTING/COUPON > PROMOTION POP-UP NAVBAR
/////////////////////////////////////////////////////*/
	
		ul.couponNavbar li a
		{ width: 100px; font: normal 10px/normal Verdana, Arial, Helvetica, sans-serif; color: #6F4E00; text-align: center; cursor: pointer; display: block; padding: 8px; background: none;  border: 0; border-left: 1px solid #EEE;}
		
		ul.couponNavbar li a:hover
		{color: #000;}
		
/* COUPON > STRUCTURE > MISC CLASSES > STANDARD ICON
/////////////////////////////////////////////////////*/
		
		ul.standard-iconlink
		{margin-bottom: 10px; font: normal 11px/20px Verdana, Arial, Helvetica, sans-serif; color:#000;}
				
		ul.standard-iconlink li.remove-icon
		{background: url("../images/icon_delete.gif") 15px 4px no-repeat; text-align: left; padding-left:35px}
		
		ul.standard-iconlink li.favoritesview-icon
		{background: url("../images/content/bullet_viewQuickListCoupon.gif") 0 7px no-repeat; text-align: left; padding-left: 7px;}
		
			ul.standard-iconlink li.favoritesview-icon a:link,
			ul.standard-iconlink li.favoritesview-icon a:active,
			ul.standard-iconlink li.favoritesview-icon a:visited,
			ul.standard-iconlink li.favoritesview-icon a:hover
			{color: #FFB504;}

			ul.standard-iconlink li.remove-icon a:link,
			ul.standard-iconlink li.remove-icon a:active,
			ul.standard-iconlink li.remove-icon a:visited,
			ul.standard-iconlink li.remove-icon a:hover
			{color: #CC0000;}
		
	/* COUPON > STRUCTURE > MISC CLASSES > ICON NAVBAR
	/////////////////////////////////////////////////////*/
	
		ul.iconNavbar li a:link,
		ul.iconNavbar li a:active,
		ul.iconNavbar li a:visited,
		ul.iconNavbar li a:hover {color: #AA7100;}
	
			ul.iconNavbar li a:hover {border: 1px solid #FFD47F;}