* {text-decoration: none; padding: 0; margin: 0; /* border: 0; */}

body {margin: 10px 0 0 0;}


ul.iconNavbar {width: 320px;}

blockquote.middleContentExtended {position: relative;}

/* LISTING DETAIL PRINT > LISTING DETAIL
/////////////////////////////////////////////////////*/

div.listingDetail
{width: 96%; text-align: left; margin: 0 auto 10px auto; font: normal 11px/14px Verdana, Arial, Helvetica, sans-serif; color: #000;}
	
	div.listingDetail p
	{margin: 0 0 5px 0;}
	
	div.listingDetail h1.listingDetailTitle
	{font: bold 24px/30px Arial, Helvetica, sans-serif; color:#000; padding-bottom:10px;}
	
	div.listingDetail p.listingContentTitle
	{font: bold 11px Verdana, Arial, Helvetica, sans-serif; color:#333; margin-bottom: 0;}
	
	div.listingDetail p.listingContentTitle span
	{font-weight:normal; color:#000;}
	
		div.listingDetail p.spacingTitle
		{padding-top:15px;}
	
	div.listingDetail address
	{font-style:normal;  margin: 0 0 5px 0;}
		
		div.listingDetail address span
		{display:block;}
		
	div.listingDetail p.listingCategoryTree,
	div.listingDetail address
	{line-height:18px;}

	/* CONTENT COLUMN */
	div.listingDetail div.listingDetailContent
	{width:53%; float:left;}
	
	div.listingDetail div.listingDetailIMAGE
	{float:right;}
		
	div.listingDetail a:link,
	div.listingDetail a:active,
	div.listingDetail a:visited,
	div.listingDetail a:hover
	{color: #000;}
	
	div.listingDetail a:hover
	{color: #000; text-decoration:underline;}
		
	ul.iconNavbar
	{height:auto; clear:both; float:none;}
	
	ul.iconNavbar li.claimnavbarButton
	{float:none; text-align:right;}

	/* LISTING IMAGE */
	div.listingDetail div.videoListingDetail,
	div.listingDetail div.imgListingDetail
	{text-align: center; padding: 0; margin:10px 0 10px 0; background-color: #F4F4F4; border: 5px solid #EEE;}

		div.listingDetail div.imgListingDetail img
		{ margin: 0; padding: 5px; border: 0;}
		
		div.listingDetail div.noimage
		{border:none; margin:5px;}
				
	div.listingDetail a.listingMoreInfo:link,
	div.listingDetail a.listingMoreInfo:active,
	div.listingDetail a.listingMoreInfo:visited,
	div.listingDetail a.listingMoreInfo:hover
	{font: bold 11px Verdana, Arial, Helvetica, sans-serif; color: #000; /* text-align: right;  display: block; */}

		div.listingDetail a.listingMoreInfo:hover
		{color: #000;}
		
	div.listingDetail div.listingDetailGallery,
	div.listingDetail div.listingDetailRatings
	{padding:15px 0 0 0; clear:both;}

/* LISTING DETAIL PRINT > LISTING DETAIL > GALLERY
/////////////////////////////////////////////////////*/

ul.detailGallery
{margin: 10px 0 0 0; border: 0;}

	ul.detailGallery li
	{float: left; list-style: none; margin: 0 15px 0 0; border:0;}
	
		ul.detailGallery li span
		{display:block; text-align:center; background:#F4F4F4; padding:5px; border: 5px solid #EEE;}
	
		ul.detailGallery li img
		{ /*margin: 10px 10px 0 10px; border: 5px solid #E5EFDC;*/}
	
	ul.detailGallery p,
	ul.detailGallery pre
	{padding: 5px 5px 0 0; color: #2E4C6B; text-align:center}
	
	ul.detailGallery pre
	{font:normal 11px/14px Verdana, Arial, Helvetica, sans-serif; color: #2E4C6B;}
	
	p.galleryMoreInfo
	{display:block; clear:both; padding-top:10px;padding-bottom:10px;}
	
/* LISTING DETAIL > LISTING DETAIL > CONTACT FORM
/////////////////////////////////////////////////////*/

form.formListingDetail
{background: #FAFAFA; border: 3px solid #EEE; margin:15px 0 0 0; padding:10px; font: normal 10px/20px Verdana, Arial, Helvetica, sans-serif;}

	form.formListingDetail label,
	form.formListingDetail span.captchaImage
	{width:130px; display:block; float:left; color:#555; text-align: right; white-space: nowrap; padding-right:10px;}
	
	form.formListingDetail p.formListingTitle
	{font: bold 11px/normal Verdana, Arial, Helvetica, sans-serif; color: #609629; padding-bottom:10px;}
	
	form.formListingDetail p.formCaptchaWarning
	{padding:10px 0 10px 140px; line-height:normal;}
	
	form.formListingDetail input,
	form.formListingDetail textarea
	{width: 515px; font: normal 10px Verdana, Arial, Helvetica, sans-serif; color: #000; padding: 5px; border: 1px solid #E1E1E1; border-bottom: 0; border-right: 0; margin-bottom:10px; float:left; clear:right;}
	
		form.formListingDetail input.formCode
		{width: 100px;}
	
	form.formListingDetail ul.standardButton
	{float: right;  border: 0; clear:right;}
	
		form.formListingDetail ul.standardButton li input,
		form.formListingDetail ul.standardButton li button
		{width: 83px; background: #355416 url('../images/design/bg_businessButton.gif') 0 0 repeat-x;}

/* LISTING DETAIL PRINT > LISTING DETAIL > GOOGLE MAP
/////////////////////////////////////////////////////*/

div.googleMapsWrapper
{position:relative;}
	
div.googleBase
{width: 318px; height: 250px; margin: 0 0 10px 0; z-index: 1; background: #E5E3DF; border: 1px solid #BAB5A9;}

	div.floatLayer
	{	/* Old values: top: 320px; left: 150px; - Changed for case 7113 */
		width: 350px; height: auto; top: -9px; left: -235px; position: absolute; visibility: hidden; z-index: 2; border: 3px solid #ECEBEB; voice-family:"\"}\""; voice-family:inherit; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/design/bg_googleFloatLayer.png', sizingMethod='scale')}
	html>body div.floatLayer{background: url("../images/design/bg_googleFloatLayer.png") 0 0 repeat;}
	
		div.floatLayer blockquote
		{padding: 10px;}
		
		div.floatLayer blockquote img
		{float: left; margin: 0 10px 10px 0; padding: 3px; border: 1px solid #E1E1E1;}
		
		div.floatLayer blockquote h1
		{font: bold 15px Arial, Helvetica, sans-serif; color: #609629;}
		
		div.floatLayer blockquote p
		{font: normal 11px Verdana, Arial, Helvetica, sans-serif; color: #000;}
		
		div.floatLayer blockquote p.googleRating img
		{border: 0; margin: 0; float: none;}
		
		#map span {font:normal 8px Arial, Helvetica, sans-serif;}

/* LISTING DETAIL PRINT > LISTING DETAIL > REVIEW > RATE COMMENT
/////////////////////////////////////////////////////*/

	table.rateComments {width: 100%; font: normal 11px Verdana, Arial, Helvetica, sans-serif; text-align: left; margin: 10px auto 10px auto; clear: both; background: #FAFAFA; border: 3px solid #EEE;}
		
		table.rateComments th,
		table.rateComments td {padding: 5px;}
		
			table.rateComments th,
			table.rateComments th a:link,
			table.rateComments th a:active,
			table.rateComments th a:visited,
			table.rateComments th a:hover {font: bold 14px Arial, Helvetica, sans-serif; color: #3F631B; text-align: left;}
			
			table.rateComments th.rateCommentssubTitle {font: normal 10px Verdana, Arial, Helvetica, sans-serif; color: #609629; padding: 5px;}
		
			table.rateComments th.rateCommentssubTitle img {margin-right: 1px;}	
			
/* LISTINT DETAIL PRINT > LISTING DETAIL PRINT > MISC CLASS > PRINT NAVBAR
/////////////////////////////////////////////////////*/

ul.rating,
ul.standard-icon
{display: block; clear:both;}

	div.basePrint
	{ width: 730px; margin: 0;}

	ul.basePrintNavbar
	{ height: 30px; padding: 0; margin: 0 0 10px 0; background: #FBFBFB; border: 1px solid #EEE;}
	
		ul.basePrintNavbar li
		{list-style: none; float: right;}
		
		ul.basePrintNavbar li a:link,
		ul.basePrintNavbar li a:active,
		ul.basePrintNavbar li a:visited,
		ul.basePrintNavbar li a:hover
		{font: normal 10px Arial, Helvetica, sans-serif; color: #000; display: block; padding: 8px 10px 8px 30px; background: url("../images/content/imprimir.gif") 8px 50% no-repeat; border: 0;}
		
		ul.basePrintNavbar li a:hover
		{color: #2C69B9;}
		
/* LISTING DETAIL PRINT > LISTING DETAIL PRINT > MISC CLASSES > RATING
/////////////////////////////////////////////////////*/

ul.rating *
{margin: 0; padding: 0; font: normal 10px/normal Verdana, Arial, Helvetica, sans-serif;}

	ul.rating {padding-top: 10px; height: 35px;}

	ul.rating li
	{float: left; list-style: none;}
	
		/* SPECIALS CONF */
		
		ul.rating li.ratingLeftSpace
		{margin: 0; padding: 0; display: none;}
		
		ul.rating li.ratingSeeComment
		{clear: none;} /* THIS code put the comment, rate it button and 'be the first' phrase bellow the image */
		
			ul.rating li.ratingSeeComment a:link,
			ul.rating li.ratingSeeComment a:active,
			ul.rating li.ratingSeeComment a:visited,
			ul.rating li.ratingSeeComment a:hover
			{line-height: 20px; color: #000; font-weight: bold; white-space: nowrap;}
		
		ul.rating li.ratingStar
		{margin: 0 1px 0 0;}
		
		ul.rating li.ratingReview { width: 80px;}
		
		ul.rating li.ratingReview,
		ul.rating li.ratingReview a:link,
		ul.rating li.ratingReview a:active,
		ul.rating li.ratingReview a:visited,
		ul.rating li.ratingReview a:hover
		{line-height: 16px; color: #000; font-weight: normal; font-style: italic; margin: 0; padding: 0 0 0 2px;}
		
		ul.rating li.ratingImage
		{margin: 0; padding: 0 0 0 5px; white-space: nowrap;}
		
			ul.rating li.ratingImage a:link,
			ul.rating li.ratingImage a:active,
			ul.rating li.ratingImage a:visited,
			ul.rating li.ratingImage a:hover
			{line-height: 20px; font-weight: bold; padding-left: 5px;}

				ul.rating li.ratingImage a:hover
				{color: #000; text-decoration: none;}

		ul.rating li.ratingText
		{clear: left; padding-left: 10px;}
		
			ul.rating li.ratingText a:link,
			ul.rating li.ratingText a:active,
			ul.rating li.ratingText a:visited,
			ul.rating li.ratingText a:hover
			{font-size: 7.5pt; color: #CC9933; font-weight: bold; text-decoration: none; white-space: nowrap;}
	
				ul.rating li.ratingText a:hover
				{color: #000;}
				
	table.listingDetail div.baseImgListingDetail ul.rating,
	table.listingDetail ul.rating
	{ width: 320px; border: 0; height: 20px; padding: 0; voice-family: "\"}\""; voice-family:inherit; margin: 10px 8px 0 0;}
	html>body table.listingDetail div.baseImgListingDetail ul.rating
	{margin: 10px 15px 7px 0;}
	
		ul.rating li.ratingReview { width: auto; padding-right: 1px;}

		ul.rating li.ratingImage{padding-left: 3px;}
		
		ul.rating li.ratingText{clear: none; padding: 2px 0 0 0;}

/* LISTING DETAIL PRINT > MISC CLASSES > MESSAGES
/////////////////////////////////////////////////////*/

.informationMessage,
.errorMessage,
.successMessage
{font: bold 11px/18px Verdana, Arial, Helvetica, sans-serif;  text-align:left; margin: 10px 20px 10px 20px; padding: 15px 15px 15px 45px; height:1%; /* IE HACK */}
	
/* LISTING DETAIL PRINT > MISC CLASSES > MESSAGES > INFORMATION MESSAGE
/////////////////////////////////////////////////////*/

.informationMessage
{color: #135DA2; border: 5px solid #E6F3FB; background: #F9FDFF url(../images/design/bg_icon_information.gif) 10px center no-repeat;}

/* LISTING DETAIL PRINT > MISC CLASSES > MESSAGES > ERROR MESSAGE
/////////////////////////////////////////////////////*/

.errorMessage
{color: #C10924; border: 5px solid #FFEAEA; background: #FFF9F9 url(../images/design/bg_icon_error.gif) 10px 10px no-repeat;}

/* LISTING DETAIL PRINT > MISC CLASSES > MESSAGES > SUCCESS MESSAGE
/////////////////////////////////////////////////////*/

.successMessage
{color: #609629; border: 5px solid #F1F7D4; background: #F9FCEB url(../images/design/bg_icon_success.gif) 10px 10px no-repeat;}