*
{ border: none; margin: 0; padding: 0; }

ul
{ list-style: none; }

body
{ background: #fff; font: normal 12px/16px Arial, Helvetica, sans-serif; color: #333; margin: 15px; text-align: center; }

a, a:visited
{ color: #069; font-weight: bold; text-decoration: none; }

	a:hover
	{ text-decoration: underline; }

input, select, textarea
{ border: 1px solid #CCC; border-bottom: 1px solid #EEE; border-right: 1px solid #EEE; color: #666; padding: 2px; }

.clear
{ clear: both; display: block; height: 0px; line-height: 0px; overflow: hidden; }

.wrapper_promo
{ background: #FFF; padding: 10px; text-align: left; width:500px;}


h1
{ background: url(../images/design/bg_title.gif) repeat-x 0 100%; color: #666; font-size: 1.2em; font-style:normal; line-height: 18px; margin: 0 0 10px 0; padding: 0 0 15px 0; }

	h1 span
	{ font-weight: bold; color: #069; }
	
h2
{ color: #333; font-size: 14px; font-weight: bold; padding: 0 0 10px 0; }

.complementaryInfo
{ color: #666; display: block; font-size: 11px; font-weight: normal; }

p
{ padding: 5px 0 5px 0; }

address
{ color: #666; font-size: 11px; font-style: normal; font-weight: bold; }

.standardForm
{ width: 600px; }

	.standardForm td, .standardForm th
	{ padding: 3px; vertical-align: middle; }
	
	.standardForm th
	{ color: #666; font-size: 11px; font-weight: normal; line-height: 20px; text-align: right; }
	
	.standardForm input, .standardForm select, .standardForm textarea
	{ width: 400px; }
	
	.standardForm .formCode
	{ width: 100px; }


.standardButton, .standardForm .standardButton
{ background: url(../images/design/bg_button_right.gif) no-repeat 100% 0; padding: 0; }

	.standardForm .standardButton
	{ float: right; }

	.standardButton button, .standardButton a, .standardButton a:visited
	{ background: url(../images/design/bg_button_left.gif) no-repeat 0 0; color: #FFF; cursor: pointer; display: block; font: bold 14px/30px Arial, Helvetica, sans-serif; text-align: center; }

	.standardButton,
	.standardButton button, .standardButton a, .standardButton a:visited
	{ height: 30px; width: 95px; }
	
.closeButton,
.closeButton button, .closeButton a, .closeButton a:visited
{ margin: 0 auto 0 auto; width: 180px; }
	

.informationMessage, .errorMessage, .successMessage
{ border: 1px solid #CCC; font-size: 11px; font-weight: bold; margin: 10px; padding: 15px 15px 15px 45px; text-align: left; }

	.informationMessage
	{ background: #F9FDFF url(../images/design/bg_icon_information.gif) 10px 10px no-repeat; color: #135DA2; }
	
		.informationMessage a, .informationMessage a:visited
		{ color:#2E4E6B; }
		
	.errorMessage
	{ background: #FFF9F9 url(../images/design/bg_icon_error.gif) 10px 10px no-repeat; color: #C10924; }
	
		.errorMessage a, .errorMessage a:visited
		{ color: #C94601; }

	.successMessage
	{ background: #F9FCEB url(../images/design/bg_icon_success.gif) 10px 10px no-repeat; color: #692; }
	
		.successMessage a, .successMessage a:visited
		{ color:#351; }


.galleryWrapper
{ padding: 0; }

.galleryNav
{ background:#fff; border: 1px solid #EEE; color: #666; font-size: 11px; height: 20px; line-height: 20px; padding: 10px; }

	.galleryNav dt, .galleryNav dd
	{ float: left; }
	
	.galleryNav dd
	{ float: right; margin: 0 2px 0 0; }
	
.galleryPicture
{ padding: 10px; text-align: center; }

	.galleryPicture p
	{ border-top: 1px solid #CCC; margin: 10px 0 0 0; padding: 5px 10px 5px 0; }
	

.promotionImage
{ border: 1px solid #CCC; float: left; margin: 0 10px 20px 0; padding: 2px; }

.couponImage
{ text-align: center; }

.promotionNavbar
{  border: 1px solid #ebebeb; clear: both; font-size: 11px; height: 30px; line-height: 30px; margin: 0px 0 0 0; }

	.promotionNavbar li
	{ float: right; padding: 0 10px 0 10px; }
	
	.promotionNavbar a, .promotionNavbar a:visited
	{ color: #fff; }
	
.warning
{  border-bottom: 1px solid #CCC; border-top: 1px solid #CCC; clear: both; color: #666; font-size: 11px; margin: 10px 0 0 0; padding: 5px; }


.faqQuestion
{ padding: 0 0 10px 0; }

	.faqQuestion h2
	{ padding-bottom: 5px; }
	
	
.paging
{ height: 60px; position: relative; }

	.paging p
	{ background: url(../images/design/bg_paging.gif) repeat-x bottom left; padding: 10px 10px 5px 5px; }

	.paging span
	{ position: absolute; right: 0; top: 5px; }

	.paging input
	{ font-size: 11px; height: 12px; margin-right: 3px; width: 25px; }

	.paging	button
	{ border: 0; background: url(../images/content/btn_GoTo.gif) no-repeat 0 0; color: #FFF; height: 18px; width: 20px; }

.descNavigation
{ font-size: 14px; }

	.descNavigation strong
	{ color: #069; }

.letraNavigation
{ color: #999; font-size: 14px; height: 30px; line-height: 18px; padding: 10px 0 0 0; }

	.letraNavigation a, .letraNavigation a:visited
	{ color: #999; padding: 0 0 0 17px; }
	

.faqSearch
{ border-bottom: 5px solid #F7F7F7; bottom: 0; position: absolute; right: 0; }

.faqSearch form
{ background: url(../images/design/bg_search.gif) repeat 0 0; border: 1px solid #CCC; clear: both; font-size: 11px; height: 30px; overflow: hidden; line-height: 30px; padding: 5px; float: left; }

.faqSearch input
{ float: left; margin: 5px 10px 0 10px; }

.faqSearch label
{ display: block; float: left; }

.faqSearch .standardButton
{ float: left; }